name: "On push into not master, or pull request"

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:
      
jobs:
  tests:
    uses: Beloborod/proxy_checker/.github/workflows/tests.yml@main
