name: "On push into master"

on:
  push:
    branches:
      - 'master'

jobs:
  tests:
    uses: ./.github/workflows/tests.yml
  deploy:
    needs: tests
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
